

.equipment-sidebar-links-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    padding: var(--space-md);
}

.equipment-sidebar-link {
    display: inline-flex;
    width: 10rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;

    background-color: var(--color-secondary);
}

.equipment-active {
    font-weight: bold;
}